body{
    background-color: #181818; 
    margin: 0;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

div.conteudo{
    margin: 0 auto;
    background-color: #f59b9b;
    width: 80%;
}

section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    scroll-snap-align: start;
}